<div>
    <select class="form-select" style="width: 10%;" (change)="changeLg($event.target)">
        <option  value="en" [selected]="lang == 'en'">EN</option>
        <option  value="geo" [selected]="lang == 'geo'">GEO</option>
    </select>
</div>
<div class="container mt-4">
    <div class="row">
        <p class="col-6">{{'name' | translate}}</p>
        <p class="col-6">{{'lastName' | translate}}</p>
        <p class="col-6">{{'oto' | translate}}</p>
        <p class="col-6">{{'avlokhashvili' | translate}}</p>
    </div>
</div>